---
import jujutsu from "../data/jujutsu-taisen.json";

import JujutsuList from "../components/JujutsuList";
import Login from "../components/Login";
---

<html title="Welcome to Astro." lang="en">
	<body>
		<main>
			<Login client:visible />
			<JujutsuList jujutsu={jujutsu} />
		</main>
	</body>
</html>
